.headline-color {
    margin-bottom: 16px;
}
.btn-primary {
    background-color: orange;
    color: black;
    font-weight: 600;
    border: 0;
}
.btn-primary:hover {
    background-color: red;
    color: black;
    font-weight: 600;
    border: 0;
}